<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="brand" class="navbar-brand" href="#">Pretty Pets</a>
  <br/>
  <div>
    <button id="togglebutton" class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>
  <br/>
    <div #navbarToggler class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class='navbar-nav mr-auto mt-2 mt-md-0'>
          <li *ngIf=showNavbar class="nav-item active"><a class="nav-link" [routerLink]="['/createpet']">Add new pet</a></li>
          <li *ngIf=showNavbar class="nav-item active"><a class="nav-link" [routerLink]="['/mypets']">My Pets</a></li>
          <li *ngIf=showNavbar class="nav-item active"><a class="nav-link" [routerLink]="['/petslist']">All Pets</a></li>
          <li class="nav-item active"><a class="nav-link" (click)=logout()>Log out</a></li>
      </ul>
  </div>
</nav>
